.blog-header  .container{
  background-color: #059041; 
  color: #fff;
  border-radius: 25px;
  max-height: 15vh;
}
.blog-title {
  font-size: 2rem;
  font-weight: bold;
}
.search-box{
  transform: translateY(40%);
  outline: none;
}
.search-box input {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
}
.post-tags .tag-nav-link {
  text-decoration: none;
  color: #7D7D7D;
  font-weight: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
}
.post-tags .tag-nav-link.active {
  color: #fff;
  background-color: #059041; 
}
.post-tags .tag-nav-link:hover {
  color: #fff;
  background-color: #059041;
}

.la-card{
  border: none;
}
.la-card .img-fluid{
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.la-card-tag{
  font-size: 0.8rem;
  font-weight: 550;
}
.la-card-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.la-card-text {
  font-size: 1rem;
  color: #6c757d;
}
.la-media{
   gap: 1rem;
}
.la-media img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.la-media-body h6{
  margin: 0;
  line-height: 2;
  font-size: 0.9rem;
  font-weight: 700;
} 
.la-media-body p{
  margin: 0;
  font-size: 0.8rem;
  color: #6c757d;
}
.other-articles-sect > h3{
  color: #0B4F28;
}
.col-md-4 > .other-card  {
  width: 350px;
  border-radius: 15px 15px 0 0;
}
.other-card > img{
  width: 100%;
  height: 250px;
  border-radius: inherit;
}
.other-card-body{
  padding: 0 10px;
}
.other-card-body .d-flex{
  margin-left: 10px;
}
.other-card-body img{
  width: 40px;
  height: 40px;
}







/* blog post page styles */
.back-btn a{
  font-size: 1rem;
  font-weight: 400;
  color: #059041  ;
}
.blog-content-img img{
  width: 100%;
  height: 400px;
  top: 642px;
  left: 199px;
  gap: 0px;
  border-radius: 15px 15px 0px 0px;

}
.blog-post-content h2{
  color: #0B4F28;
}
.blog-post-content p{
  line-height: 2;
  margin-bottom: 1rem;
}


.related-post-sect > .container > h5{
  color: #0B4F28;
}