.blog-header  .container{
  background-color: #059041; 
  color: #fff;
  border-radius: 25px;
  max-height: 15vh;
}
.blog-title {
  font-size: 2rem;
  font-weight: bold;
}
.search-box{
  transform: translateY(40%);
  outline: none;
}
.search-box input {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
}
.post-tags .tag-nav-link {
  text-decoration: none;
  color: #7D7D7D;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
}
.post-tags .tag-nav-link.active {
  color: #fff;
  background-color: #059041; 
}
.post-tags .tag-nav-link:hover {
  color: #fff;
  background-color: #059041;
}

.la-card{
  border: none;
}
.la-card .img-fluid{
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.la-card-tag{
  font-size: 0.8rem;
  font-weight: 550;
}
.la-card-body > a{
  text-decoration: none;
}
.la-card-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.la-card-text {
  font-size: 1rem;
  color: #6c757d;
}
.la-media{
   gap: 1rem;
}
.la-media img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.la-media-body h6{
  margin: 0;
  line-height: 2;
  font-size: 0.9rem;
  font-weight: 700;
} 
.la-media-body p{
  margin: 0;
  font-size: 0.8rem;
  color: #6c757d;
}
.other-articles-sect > h3{
  color: #0B4F28;
}
.col-md-4 > .other-card  {
  width: 350px;
  border-radius: 15px 15px 0 0;
}
.other-card > img{
  width: 100%;
  height: 250px;
  border-radius: inherit;
}
.other-card-body{
  padding: 0 10px;
}
.other-card-body .d-flex{
  margin-left: 10px;
}
.other-card-body img{
  width: 40px;
  height: 40px;
}
.other-card-title{
  font-size: 1.2rem;
}







/* blog post page styles */
.back-btn a{
  font-size: 1rem;
  font-weight: 400;
  color: #059041  ;
}
.blog-content-img img{
  width: 100%;
  height: 400px;
  top: 642px;
  left: 199px;
  gap: 0px;
  border-radius: 15px 15px 0px 0px;

}
.blog-post-content h2{
  color: #0B4F28;
}
.blog-post-content p{
  line-height: 2;
  margin-bottom: 1rem;
}


.related-post-sect > .container > h5{
  color: #0B4F28;
}






@media only screen and (max-width: 767px){
  .post-tags .tag-nav-link {
    font-size: 0.8rem;
    padding: 8px 12px;
    border-radius: 10px;
  }
  .la-card .img-fluid {
    width: 100%;
    height: 250px;
    border-radius: 30px;
    padding: 0 10px;
  }
  .la-card-body{
    padding: 0 5px;
  }
  .la-card-tag{
    padding: 0 0 0 5%;
  }
  .la-card-title {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
  }
  .other-articles-sect > h3 {
    margin-bottom: 1.6rem !important;
  }
  .col-md-4 > .other-card{
    width: 90%;
    margin: 0 auto;
  }
  .other-card-body p{
    font-size: .95rem;
  }
  .other-card > img {
    height: 200px;
  }




  /* post page */
  .back-btn a {
    font-size: .8rem;
    font-weight: 600;
  }
  .blog-content-img img {
    height: 250px;
  }
  .blog-post-content h2 {
    font-size: 1.5rem;
  }
  .blog-post-content p {
    line-height: 1.8;
    font-size: 0.95rem;
    padding: 0 5px;
  }

}